.row.destacados
  .col-md-4
    div
      a.welcome-page-link(href="#browse")
        img.welcome-link-img-circle.img-circle.img-thumbnail(src='/img/vendor/Fogthecatman/Explore.svg', alt='Texto Alternativo')
        h2 Explore
        p Look through our available data and find inspiration for your next project!
  .col-md-4
    div
      a.welcome-page-link(href="#create")
        img.welcome-link-img-circle.img-circle.img-thumbnail(src='/img/vendor/Fogthecatman/Create.svg', alt='Texto Alternativo')
        h2 Create
        p Define a new datatime or publish new streams, so that everyone can make use of your awesome data!
