if locals.messages.errors
  .alert.alert-danger.fade.in
    button.close(type='button', data-dismiss='alert')
      span.ion-close-circled
    for error in locals.messages.errors
      div= error.msg
if locals.messages.info
  .alert.alert-info.fade.in
    button.close(type='button', data-dismiss='alert')
      i.fa.fa-times-circle-o
    for info in locals.messages.info
      div= info.msg
if locals.messages.success
  .alert.alert-success.fade.in
    button.close(type='button', data-dismiss='alert')
      i.fa.fa-times-circle-o
    for success in locals.messages.success
      div= success.msg